<div class="account-container">
  {{!-- account preferences --}}
  <div class="router">
    <a href="/account/preferences">Preferences</a>
    <a href="/account/settings">Settings</a>
  </div>
  <div id="account-preferences" class="col s12">
    <div class="favorites-container">


      {{#if isEmpty}}
      <div class="empty-collection">
        <h4><span class="capitalize underlined-special">{{loggedUser.name}},</span>your favorites collection is
          empty,
          you can discover
          a new favorite recipe just one click away.</h4>
        <img src="/images/speculative/error-routing.png" style="max-height: 20rem;" alt="">
        <form action="/yummly-api/discover" method="GET">
          <button type="submit" name="discover" id="discover" class="waves-effect waves-light btn-large">Discover</button>
        </form>
      </div>
      {{else}}
      <h4><span class="capitalize">{{loggedUser.name}}</span>, this are your favorite recipes.</h4>
      {{#each favorites}}
      <div class="recipe-card">
        <a href="#" class="btn-floating  btn-large waves-effect waves-light red">
          <i class="material-icons">favorite</i></a>
        <div class="decide-card-image">
          <img src={{this.imageURL}}>
        </div>
        <div class="card-content">
          <h5 class="card-title">{{this.recipeName}}</h5>
          <a href="{{this.id}}"></a>
          <div class="timer-course">
            {{#if this.attributes.course}}
            <div class="attribute-course">
              <i class="material-icons right">restaurant</i>
              <p>{{this.attributes.course}}</p>
            </div>
            {{/if}}

            {{#if this.recipeTime}}
            <div class="attribute-course">
              <i class="material-icons right">timer</i>
              <p>{{this.recipeTime}}</p>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}
    </div>
  </div>
</div>


<script src="/javascripts/account.js"></script>