<section id="account">
  {{!-- BASIC INFO AND PICTURES --}}
  <div class="info container">
    <div class="basic-info ">
      <h2>{{loggedUser.name}} </h2>
      <h3><i>{{loggedUser.email}} </i></h3>
      <h4>Member Since: {{loggedUser.created_at}}</h4>
    </div>
    <div class="photo ">

    </div>

    {{!-- PREFERENCES --}}
  </div>
  <div class="preferences container">
    <div class="cuisine">
      <div>
        <h4>Your Favourite Cuisines</h4>
        <p>{{loggedUser.preferences.cuisines}}</p>
      </div>
      </div>

    <div class="allergy">
      <div id="allergy-form" class="col s12 ">
        <h4>Your Designated Allegies</h4>
        <p>{{loggedUser.preferences.allergies}}</p>
      </div>

    </div>
    <div class="diet">
      <div id="diet-form" class="col s12 ">
        <h4>Your Preferred Diets</h4>
       <p> {{loggedUser.preferences.diets}}</p>
      </div>
    </div>
  </div>
  <div class="favourties container">
    </div>




  </div>
</section>