{{#if emailMessage}}
<div class="email-notification">
  {{emailMessage}}
</div>
{{/if}}

<section id="lp">
  <h1 id="title">TOMAAT</h1>
  <h3 id="subtitle">Looking for something specific, {{loggedUser.name}}?</h3>



  <form id="lp-form" action="" method="GET">
    <ul class="collapsible">
      <li>
        {{!-- BUTTONS --}}
        <div class="collapsible-header" id="header1">
          <button type="button" name="decide" id="decide" class="waves-effect waves-light btn-large">Decide</button>
          <button type="submit" name="discover" id="discover" class="waves-effect waves-light btn-large">Discover</button>

        </div>
      </li>

      {{!-- <li> --}}
        <div class="collapsible-header">
          <div class="input-field" id="search-input-field">
            <i class="material-icons prefix">search</i>
            <input type="text" placeholder="Type here..." name="query" class="validate">
          </div>
        </div>
        {{!-- </li> --}}
      <li>

        {{!-- --}}

        <div class="collapsible-header">

          <div>
            <i class="material-icons">restaurant</i>
            <p>Cusine</p>
          </div>


        </div>
        <div class="collapsible-body" id="cuisine">

          <div class="switch">
            <label>
              Select All
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
          <span>


            {{#each loggedUser.preferences.cuisines}}
            <label id="cuisine-label">

              <input name="cuisine" id="cuisine-input" type="checkbox" class="filled-in" checked="checked" value="{{this}}" />
              <span>{{this}}</span>
            </label>
            {{/each}}

            {{#each cuisineGlobal}}
            <label id="cuisine-label">
              <input name="cuisine" type="checkbox" class="filled-in" value="{{this}}" />
              <span>{{this}}</span>
            </label>
            {{/each}}


          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <div>
            <i class="material-icons">warning</i>Allergy
          </div>
        </div>
        <div class="collapsible-body" id="allergy">
          <div class="switch">
            <label>
              Select All
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>

          <span>
            {{#each loggedUser.preferences.allergies}}
            <label id="allergy-label">

              <input name="allergy" type="checkbox" class="filled-in" checked="checked" value="{{this}}" />
              <span>{{this}}</span>
            </label>
            {{/each}}

            {{#each allergyGlobal}}
            <label id="allergy-label">
              <input name="allergy" type="checkbox" class="filled-in" value="{{this}}" />
              <span>{{this}}</span>
            </label>
            {{/each}}</span>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <div>
            <i class="material-icons">spa</i>Diet
          </div>
        </div>
        <div class="collapsible-body" id="diet">

          <div class="switch">
            <label>
              Select All
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
          <span>
            {{#each loggedUser.preferences.diets}}
            <label id="diet-label">

              <input name="diet" type="checkbox" class="filled-in a" checked="checked" value="{{this}}" />
              <span>{{this}}</span>
            </label>
            {{/each}}

            {{#each dietGlobal}}
            <label id="diet-label">
              <input name="diet" type="checkbox" class="filled-in" value="{{this}}" />
              <span>{{this}}</span>
            </label>
            {{/each}}</span>
        </div></span></div>
      </li>
    </ul>

  </form>

</section>