<section id="lp">
  <h1 id="title">TOMAAT</h1>
  <h3 id="subtitle">What are you feeling today {{loggedUser.name}}?</h3>



  <form action="/yummly-api" method="post">
    <ul class="collapsible">
      <li>
        {{!-- BUTTONS --}}
        <div class="collapsible-header" id="header1"><button type="submit" name="quick" id="quick" class="waves-effect waves-light btn-large">I'm
            in a hurry</button>
          <button type="submit" name="time" id="time" class="waves-effect waves-light btn-large">I've got time</button>
        </div>
      </li>
      <li>

        {{!--  --}}
        <div class="collapsible-header">
          <div>
            <i class="material-icons">restaurant</i>
            <p>Cusine</p>
          </div>
  

        </div>
        <div class="collapsible-body" id="cuisine">
          {{!-- <div>
            <button type="button" class="waves-effect waves-light btn-small" type="button" id="cuisine-btn">Select All</button>

          </div> --}}

          <div class="switch">
            <label>
              Select All
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
          <span>


            {{#each loggedUser.preferences.cuisines}}
            <label id="cuisine-label">

              <input id="cuisine-input" type="checkbox" class="filled-in" checked="checked" value="{{this}}" />
              <span>{{this}}</span>
            </label>
            {{/each}}

            {{#each cuisine}}
            <label id="cuisine-label">
              <input type="checkbox" class="filled-in" value="{{this}}" />
              <span>{{this}}</span>
            </label>
            {{/each}}


          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <div>
            <i class="material-icons">warning</i>Allergy
          </div>
        </div>
        <div class="collapsible-body" id="allergy">
          <div class="switch">
            <label>
              Select All
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>

          <span>
            {{#each loggedUser.preferences.allergies}}
            <label id="allergy-label">

              <input type="checkbox" class="filled-in" checked="checked" value="{{this}}" />
              <span>{{this}}</span>
            </label>
            {{/each}}

            {{#each allergy}}
            <label id="allergy-label">
              <input type="checkbox" class="filled-in" value="{{this}}" />
              <span>{{this}}</span>
            </label>
            {{/each}}</span>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <div>
            <i class="material-icons">spa</i>Diet
          </div>
        </div>
        <div class="collapsible-body" id="diet">

          <div class="switch">
            <label>
              Select All
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
          <span>
            {{#each loggedUser.preferences.diets}}
            <label id="diet-label">

              <input type="checkbox" class="filled-in a" checked="checked" value="{{this}}" />
              <span>{{this}}</span>
            </label>
            {{/each}}

            {{#each diet}}
            <label id="diet-label">
              <input type="checkbox" class="filled-in" value="{{this}}" />
              <span>{{this}}</span>
            </label>
            {{/each}}</span>
        </div></span></div>
      </li>
    </ul>
  </form>

</section>