<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="../images/speculative/brand-logo.png" type="image/x-icon">
</head>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="/javascripts/yummly-meta.js"></script>
<script src="/javascripts/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/javascripts/script.js"> </script>

<body>

  <nav class="navbar">
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="/" class="brand-logo"><img id="logo" src="/../images/speculative/brand-logo.png" alt="" srcset="">
        Tomaat</a>
      <ul class="right hide-on-med-and-down">
        {{#if loggedUser}}
        <li><a href="/account/favorites"><i class="material-icons">account_circle</i></span></a></li>
        <li><a href="/auth/logout">Logout, <span class="capitalize">{{loggedUser.name}}</span></a></li>

        {{else}}
        <li><a href="/auth/login"><button class="btn waves-effect waves-light" type="submit" name="action">Log
              in</button></a></li>
        <li><a href="/auth/signup">
            <button class="btn waves-effect waves-light" id="signup-btn" type="submit" name="action">Sign up</button></a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/"><i class="material-icons">home</i>Home</a></li>
    {{#if loggedUser}}
    <li><a href="/account/preferences"><i class="material-icons">account_circle</i>Account</a></li>
    <li><a href="/auth/logout">Logout, <span class="capitalize">{{loggedUser.name}}</span></a></li>
    {{else}}
    <li><a href="/auth/login"><i class="material-icons">touch_app</i>Log In</a></li>
    <li><a href="/auth/signup"><i class="material-icons">plus_one</i>Sign Up</a></li>
    {{/if}}
    <hr>
    <div class="collapsible-body"></div>
  </ul>

  {{{body}}}
</body>


</html>