<div class="discover-recipe-container container">
  <div class="card-image">
    <img src={{recipeImage}}>
  </div>
  <div class="card-content">
    <h1 class="card-title">{{recipe.recipeName}}</h1>
    <h5>Ingredients:</h5>
    <div class="ingredientsContainer">

      {{#each recipe.ingredients}}

      <label id="cuisine-label">
      <input name="cuisine" id="cuisine-input" type="checkbox" class="filled-in"  value="{{this}}" />
      <span>{{this}}</span>
      </label>
      {{/each}}
    </div>

    <div class="time-to-cook">
      <i class="material-icons right">timer</i>
      <p>{{recipeTime}}</p>
    </div>
    <div class="attribute-course">
      <i class="material-icons right">restaurant</i>
      <p>{{recipe.attributes.course}}</p>
    </div>
  </div>
</div>



{{!-- { imageUrlsBySize:
{ '90':
'http://lh3.ggpht.com/UId9ZOkXYhrEw7gnMDO0b3d6JHX9rD-stBARdrmOdoi3qSdc5Jut9H5jkubC1jSdNwat-Rex8yU2-ERye2eOwA=s90-c' },
sourceDisplayName: 'OMG Chocolate Desserts',
ingredients:
[ 'white chocolate',
'unsalted butter',
'heavy whipping cream',
'salt',
'lemon extract',
'powdered sugar' ],
id: 'White-Chocolate-Lemon-Truffles-924470',
smallImageUrls:
[ 'http://lh4.ggpht.com/tiU2NYh47gAn6OdStWq4mL3kkwAezVDZYHtWo_dh7cdtxH0OY8_pOw-YpMiuT94hJxq-CyNRewTPAuc3TbMcnQ=s90' ],
recipeName: 'White Chocolate Lemon Truffles',
totalTimeInSeconds: 1800,
attributes: { course: [ 'Desserts' ] },
flavors:
{ piquant: 0,
meaty: 0.8333333333333334,
bitter: 0.5,
sweet: 0.8333333333333334,
sour: 0.16666666666666666,
salty: 0.16666666666666666 },
rating: 4 } --}}