<div class="recipe-container ">
  <div class="recipe-card">
    <div class="card-image">
      <img src={{recipeImage}}>
    </div>
    <div class="card-content">
      <div class="recipe-title">
        <h3 class="card-title">{{recipe.name}}</h3>

      </div>
      <div class="recipe-details">
        <p>Serves: <span class="bold">{{recipe.numberOfServings}}</span></p>
        <h5>Ingredients:</h5>
        <div class="ingredientsContainer">
          <ul>
            {{#each recipe.ingredientLines}}
            <li class="capitalize">{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="buttons-recipe">
        <a class="btn waves-effect" target="_blank" href="{{recipe.source.sourceRecipeUrl}}">Read directions</a>
        {{#if discover}}
        <a class="btn waves-effect try-again" href="/yummly-api/discover">Try
          again</a>
        {{/if}}
      </div>


      <div class="attributes">
        <div class="time-to-cook">
          {{#if recipe.prepTime}}
          <div>
            <i class="material-icons right">timer</i>
            <p>Prep: <span class="bold">{{recipe.prepTime}}</span></p>
          </div>
          {{/if}}

          {{#if recipe.totalTime}}
          <div>
            <i class="material-icons right">alarm_on</i>
            <p>Total: <span class="bold">{{recipe.totalTime}}</span></p>
          </div>
          {{/if}}
        </div>
        {{#if recipe.attributes.course}}
        <div class="attribute">
          <i class="material-icons right">room_service</i>
          <p>{{recipe.attributes.course}}</p>
        </div>
        {{/if}}
        {{#if recipe.attributes.cuisine}}
        <div class="attribute">
          <i class="material-icons right">restaurant</i>
          <p>{{recipe.attributes.cuisine}}</p>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>


{{!-- prepTimeInSeconds: 600,
totalTime: '2 hr 10 min',
images:
[ { hostedSmallUrl:
'https://lh3.googleusercontent.com/iMd-LxIEYLG1nyF1ereq-kr0sXFVoKdCGgfc4CxMFnhu5gH6z5jerD-b6EXhZwdn8yffRxACrAdcDkxUPcb1PQ=s90',
hostedMediumUrl:
'https://lh3.googleusercontent.com/iMd-LxIEYLG1nyF1ereq-kr0sXFVoKdCGgfc4CxMFnhu5gH6z5jerD-b6EXhZwdn8yffRxACrAdcDkxUPcb1PQ=s180',
hostedLargeUrl:
'https://lh3.googleusercontent.com/iMd-LxIEYLG1nyF1ereq-kr0sXFVoKdCGgfc4CxMFnhu5gH6z5jerD-b6EXhZwdn8yffRxACrAdcDkxUPcb1PQ=s360',
imageUrlsBySize:
{ '90':
'https://lh3.googleusercontent.com/r_FBcDMqlWGDtqS1bPaoJINBx9R3qebzEgrybD6KhsVL1P3nDfB3daG-0a8GVyOxFmHHScNoNvcWzqd2fasMCHM=s90-c',
'360':
'https://lh3.googleusercontent.com/r_FBcDMqlWGDtqS1bPaoJINBx9R3qebzEgrybD6KhsVL1P3nDfB3daG-0a8GVyOxFmHHScNoNvcWzqd2fasMCHM=s360-c'
} } ],
name: 'MEDITERRANEAN CUCUMBER SALAD',
source:
{ sourceDisplayName: 'Tip Hero',
sourceSiteUrl: 'tiphero.com',
sourceRecipeUrl: 'http://tiphero.com/mediterranean-cucumber-salad/' },
prepTime: '10 minutes',
id: 'MEDITERRANEAN-CUCUMBER-SALAD-1812183',
ingredientLines:
[ '1 pound Persian cucumber, seeded and diced small',
'1 pound ripe tomatoes, seeded and diced small',
'½ cup red onion, diced small',
'½ cup fresh parsley, finely chopped',
'½ cup fresh mint, finely chopped',
'¼ cup lemon juice',
'3 tablespoons olive oil',
'½ teaspoon salt' ],
attribution:
{ html:
"<a href='http://www.yummly.co/recipe/MEDITERRANEAN-CUCUMBER-SALAD-1812183'>MEDITERRANEAN CUCUMBER SALAD recipe</a>
information powered by <img alt='Yummly' src='https://static.yummly.co/api-logo.png' />",
url:
'http://www.yummly.co/recipe/MEDITERRANEAN-CUCUMBER-SALAD-1812183',
text:
'MEDITERRANEAN CUCUMBER SALAD recipes: information powered by Yummly',
logo: 'https://static.yummly.co/api-logo.png' },
numberOfServings: 8,
totalTimeInSeconds: 7800,
attributes: { course: [ 'Salads' ], cuisine: [ 'Mediterranean' ] },
flavors:
{ Piquant: 0,
Meaty: 0.1667,
Bitter: 0.1667,
Sweet: 0.1667,
Sour: 0.8333,
Salty: 0.1667 },
rating: 3 } ] --}}