<p>We found {{recipes.totalMatchCount}} for you.</p>
<div class="decide-recipes-container">

  {{#each recipes.matches}}
  <div class="recipe-card">
    <div class="decide-card-image">
      <img src={{this.imageURL}}>
    </div>
    <div class="card-content">
      <h5 class="card-title">{{this.recipeName}}</h5>
      <div class="timer-course">
        {{#if this.attributes.course}}
        <div class="attribute-course">
          <i class="material-icons right">restaurant</i>
          <p>{{this.attributes.course}}</p>
        </div>
        {{/if}}

        {{#if this.recipeTime}}
        <div class="attribute-course">
          <i class="material-icons right">timer</i>
          <p>{{this.recipeTime}}</p>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
<ul class="pagination">

  <li class="waves-effect pagination-left"><i class="material-icons">chevron_left</i></li>
  <li class="waves-effect pagination-right"><i class="material-icons">chevron_right</i></li>
</ul>

<script src="/javascripts/pagination.js"></script>
{{!-- { imageUrlsBySize:
{ '90':
'http://lh3.ggpht.com/UId9ZOkXYhrEw7gnMDO0b3d5JHX9rD-stBARdrmOdoi3qSdc5Jut9H5jkubC1jSdNwat-Rex8yU2-ERye2eOwA=s90-c' },
sourceDisplayName: 'OMG Chocolate Desserts',
ingredients:
[ 'white chocolate',
'unsalted butter',
'heavy whipping cream',
'salt',
'lemon extract',
'powdered sugar' ],
id: 'White-Chocolate-Lemon-Truffles-924470',
smallImageUrls:
[ 'http://lh4.ggpht.com/tiU2NYh47gAn6OdStWq4mL3kkwAezVDZYHtWo_dh7cdtxH0OY8_pOw-YpMiuT94hJxq-CyNRewTPAuc3TbMcnQ=s90' ],
recipeName: 'White Chocolate Lemon Truffles',
totalTimeInSeconds: 1800,
attributes: { course: [ 'Desserts' ] },
flavors:
{ piquant: 0,
meaty: 0.8333333333333334,
bitter: 0.5,
sweet: 0.8333333333333334,
sour: 0.16666666666666666,
salty: 0.16666666666666666 },
rating: 4 } --}}